{{> layout/header}}

<style>

    .card:hover {
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.14);
        transition: all .3s ease-in-out;
    }

</style>

<div class="container p-5">
    <h2>상품보기</h2>

    <br>

    <!-- 상품 검색 창 -->
    <div class="search-wrap search-bg">
        <div class="search-bg-opacity row">
            <form action="/" method="get" class="d-flex align-items-center" id="search">
                <input class="form-control me-2" type="text" placeholder="Search" value="" name="keyword" required>
                <button class="btn btn-primary" style="width:100px">Search</button>
            </form>
        </div>
    </div>

    <!-- 상품 검색 창 종료 -->

    <br>

    <!--    나중에 카테고리 버튼-->
    <div class="navbar_ bg-white b-b flex-row">
        <div class="d-flex_ p-2 text-center flex justify-content-center">
            <a href="#" class="btn btn-outline-primary">식품</a>
            <a href="#" class="btn btn-outline-primary">장난감</a>
            <a href="#" class="btn btn-outline-primary">의류</a>
        </div>
    </div>

    <br>

    <div class="row">
        {{#productList}}
            <div class="col-md-4">
                <a href="/product/{{id}}" style="text-decoration: none; color: inherit;">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://m.lovelanc.com/web/product/big/Lbig230706-48ea_j27.jpg"
                                     width="300"
                                     height="300" style="border-radius: 5%">
                                <div class="mt-3">
                                    <h4>{{name}}</h4>
                                    <div class="text-muted font-size-sm price" id="price">상품 가격 : {{price}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/productList}}
    </div>

    <!--페이징-->
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
    <!--페이징 -->

</div>

<script src="/js/index.js"></script>

{{> layout/footer}}